<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>JHIST Logistics</title>
</head>
<body>
    <header>
       <nav>
            <ul>
                
                {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('logout')}}">logout</a></li>
                    <li>Welcome {{current_user.username}}</li>
                {% else %}
                    
                    <li><a href="{{url_for('login')}}"> Log in</a></li>
                    <li> <a href="{{url_for('register')}}">Sign up</a></li>
                    <li><a href="{{url_for('index')}}"> Home page</a></li>
                    {% endif %}
                </ul>
        <h1>This is me doing some funny stuff</h1>        
       </nav>
    
       {% with messages = get_flashed_messages(with_categories=true) %}
          
       {% if messages %}
           
           {% for category, message in messages %}
               <p style='background-color: red; color:antiquewhite'>{{message}}</p>
           {% endfor %}
               
       {% endif %}
           
   {% endwith %}
        <h1 class="pad"><a href="{{url_for('logs')}}">Jhist Logistics and more</a></h1>
    </header>
    <div>
        
        <img src="{{url_for('static', filename='images/pexels-chanaka-906494.jpg')}}" alt="Logistics stock image">
        
    </div>
      
      
          
    {% block content %}
           
    {% endblock content %}
        
    <footer>
        <ul>
            <li>privacy policy</li>
            <li>Careers</li>
            <li>Docs</li>
            <li>Contact us</li>

        </ul>
    </footer>
</body>
</html>