{% extends "base.html" %}

{% block content %}
<section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque sint soluta aut quasi provident veniam voluptates magnam consectetur Suscipit consequatur mollitia magni aut saepe possimus labore sint esse quae. Lorem ipsum dolor sit amet consectetur adipisicing elit.  Architecto corporis obcaecati nulla blanditiis deleniti ratione odit! Unde praesentium porro quod, nihil animi atque facilis suscipit pariatur. Consequuntur eaque corporis quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis obcaecati impedit nulla excepturi reprehenderit exercitationem nisi eaque.  Sed tenetur recusandae iste tempore praesentium dicta facilis tempora unde porro cupiditate! Molestiae.        </p>
    
    </section>
{% endblock content %}
    
