<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>JHIST Logistics</title>
</head>
<body>
        <header class="pad"><h1>Jhist Logistics and more</h1></header>
    <div>
        
        <img src="{{url_for('static', filename='images/pexels-chanaka-906494.jpg')}}" alt="Logistics stock image">
        
    </div>
    <section>
        <article>
            <h2 class="pad">About us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt doloremque sint soluta aut quasi provident veniam voluptates magnam consectetur?               
                Suscipit consequatur mollitia magni aut saepe possimus labore sint esse quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Architecto corporis obcaecati nulla blanditiis deleniti ratione odit! Unde praesentium porro quod, nihil animi atque facilis suscipit pariatur.
                 Consequuntur eaque corporis quaerat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis obcaecati impedit nulla excepturi reprehenderit exercitationem nisi eaque. 
                 Sed tenetur recusandae iste tempore praesentium dicta facilis tempora unde porro cupiditate! Molestiae.
            </p>

        </article>
       {% include "logs.html" %}
    </section>
    <footer>
        <ul>
            <li>privacy policy</li>
            <li>Careers</li>
            <li>Docs</li>
            <li>Contact us</li>

        </ul>
    </footer>
</body>
</html>